<!DOCTYPE html>
<html>
  <head>
    <title>loopback-example-model-relations</title>
  </head>
  <body>
    <h1>loopback-example-model-relations</h1>
    <p>
      <a href="/explorer">API Explorer</a>
    </p>
    <h2>API</h2>
    <h4>embedsMany</h4>
    <ul>
      <li><a href='/api/customers/<%= customer.id %>/emails'>/api/customers/<%= customer.id %>/emails</a></li>
    </ul>
  </body>
</html>
