<!DOCTYPE html>
<html>
  <head>
    <title>loopback-example-model-relations</title>
  </head>
  <body>
    <h1>loopback-example-model-relations</h1>
    <p>
      <a href="/explorer">API Explorer</a>
    </p>
    <h2>API</h2>
    <h4>hasMany</h4>
    <ul>
      <li><a href='/api/customers'>/api/customers</a></li>
      <li><a href='/api/customers?filter[fields][name]=true'>/api/customers?filter[fields][name]=true</a></li>
      <li><a href='/api/customers/<%= customer.id %>'>/api/customers/<%= customer.id %></a></li>
      <li><a href='/api/customers/youngFolks'>/api/customers/youngFolks</a></li>
      <li><a href='/api/customers/<%= customer.id %>/orders'>/api/customers/<%= customer.id %>/orders</a></li>
      <li><a href='/api/customers?filter[include]=orders'>/api/customers?filter[include]=orders</a></li>
      <li><a href='/api/customers?filter[include][orders]=customer'>/api/customers?filter[include][orders]=customer</a></li>
      <li><a href='/api/customers?filter[include][orders]=customer&filter[where][age]=21'>/api/customers?filter[include][orders]=customer&filter[where][age]=21</a></li>
      <li><a href='/api/customers?filter[include][orders]=customer&filter[limit]=2'>/api/customers?filter[include][orders]=customer&filter[limit]=2</a></li>
      <li><a href='/api/customers?filter[include]=accounts&filter[include]=orders'>/api/customers?filter[include]=accounts&filter[include]=orders</a></li>
    </ul>
    <h4>polymorphic embedsMany</h4>
    <ul>
      <li><a href='/api/Books/1/people'>/api/Books/1/people</a></li>
      <li><a href='/api/Books/1/people/1'>/api/Books/1/people/1</a></li>
      <li><a href='/api/Books/1/people/2'>/api/Books/1/people/2</a></li>
    </ul>
    <h4>embedsOne</h4>
      <a href='/address'>Click to see Endpoints</a>
    <h4>embedsMany</h4>
      <a href='/email'>Click to see Endpoints</a>
    <h4>referencesMany</h4>
      <a href='/account'>Click to see Endpoints</a>
  </body>
</html>
